.tabla-pagos {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

.tabla-clientes {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

.titulo {
  background-color:darkolivegreen;
  font-size: 12px;
  padding: 2px;
  color: #ffffff;
  border: 1px solid #000;
}

.titulo-valor {
  background-color: darkolivegreen;
  padding: 2px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  border: 1px solid #000;
}

.cabecera {
  background-color: lightsalmon;
  border: 1px solid #000;
}

.fechapago {
  padding: 2px;
  background-color: #ff9232;
  font-size: 8px;
  border: 1px solid #000;
}

.montopago {
  background-color: #ffbb6d;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #000;
}

.resta {
  background-color: #ff9232;
  padding: 2px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #000;
}
.debe-hoy {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  border: 1px solid #000;
  padding: 2px;
}
.ha-pagado {
  background-color: rgb(67, 255, 50);
  font-size: 15px;
  text-align: center;
  border: 1px solid #000;
  padding: 2px;
}

.atrasado {
  background-color: rgb(255, 0, 0);
  font-size: 12px;
  text-align: center;
  border: 1px solid #000;
  padding: 2px;
}

.fecha-actual {
  padding: 2px;
  background-color: rgb(0, 162, 255);
  font-size: 15px;
  text-align: center;
}

.boton-guardar {
  background-color: rgb(69, 224, 30); /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  padding: 10px; /* Aumenta el espacio alrededor del texto */
  border: 1px solid #000; /* Elimina el borde */
  border-radius: 5px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Agrega una transición */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.boton-actualizar {
  background-color: rgb(39, 140, 255); /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  padding: 10px; /* Aumenta el espacio alrededor del texto */
  border: 1px solid #000; /* Elimina el borde */
  border-radius: 5px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Agrega una transición */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.boton-eliminar {
  background-color: #ff0303; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  padding: 10px; /* Aumenta el espacio alrededor del texto */
  border: 1px solid #000; /* Elimina el borde */
  border-radius: 5px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Agrega una transición */
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.boton-calcular {
  background-color: #ff6803; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  padding: 10px 20px; /* Aumenta el espacio alrededor del texto */
  border: 1px solid #000; /* Elimina el borde */
  border-radius: 5px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Agrega una transición */
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.boton-capturar {
  background-color: #ff6803; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  padding: 10px 20px; /* Aumenta el espacio alrededor del texto */
  border: 1px solid #000; /* Elimina el borde */
  border-radius: 5px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Agrega una transición */
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%; /* Ajusta el ancho al contenedor padre */
  padding: 5px 10px; /* Aumenta el espacio alrededor del texto */
  margin: 3px 0; /* Agrega un margen alrededor del campo de entrada */
  box-sizing: border-box; /* Ajusta el tamaño del campo de entrada para incluir el borde y el relleno */
  border: 2px solid #ccc; /* Agrega un borde */
  border-radius: 4px; /* Agrega bordes redondeados */
}

input[type="text"]:focus {
  border-color: #4caf50; /* Cambia el color del borde al enfocar el campo de entrada */
  outline: none; /* Elimina el contorno predeterminado */
}

select {
  width: 100%;
  padding: 5px 10px;
}

.index{
  width: 15px;
  text-align: center;
  border: 1px solid black;
  font-size: 10px;
}

.titulo-clientes {
  background-color: #cc3e02;
  font-size: 22px;
  padding: 2px;
  color: #ffffff;
  border: 1px solid #000;
}

.encabezado-clientes {
  background-color: #646464;
  font-size: 16px;
  padding: 2px;
  color: #ffffff;
  border: 1px solid #000;
}

.datos-clientes-nombre {
  background-color: #73ff00;
  font-size: 16px;
  padding: 2px;
  color: #000000;
  border: 1px solid #000;
}

.datos-clientes-cantidad {
  background-color: #e8f800;
  font-size: 16px;
  padding: 2px;
  color: #000000;
  border: 1px solid #000;
}

.datos-clientes-pagos {
  background-color: #ffffff;
  font-size: 16px;
  padding: 2px;
  color: #000000;
  border: 1px solid #000;
}

.datos-clientes-inicio {
  background-color: #57a5e6;
  font-size: 16px;
  padding: 2px;
  color: #000000;
  border: 1px solid #000;
}

.datos-clientes-final {
  background-color: #ad7cec;
  font-size: 16px;
  padding: 2px;
  color: #000000;
  border: 1px solid #000;
}

.datos-clientes-pie {
  background-color: #838383;
  font-size: 22px;
  padding: 2px;
  color: #000000;
  border: 1px solid #000;
}
